<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tjlgzh.campusdetectionwarningsystem1.mapper.StudentMessageMapper">
    <select id="page" resultType="com.tjlgzh.campusdetectionwarningsystem1.pojo.entity.StudentMessage">
        select *
        from studentmessage
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
    <select id="countTotal" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM studentmessage
    </select>
</mapper>
